#header{
    font-family: 'Odibee Sans';
    text-align: center;
}

h2{
    font-size: 44px;
}

.aboutInfo{
    text-align: left;
    font-size: 22px;
    padding-left: 5em;
    padding-right: 5em;
    page-break-after: auto;
}